/* Importando CSS GLOBAL */
@import url(../../styles/globalStyle.css);

/* CSS da Página */

h1 {
    margin-top: 4%;
    text-align: center;
}

p {
    margin-top: 4%;
    text-align: left;
    margin-left: 3%;
}

form {
    margin-top: 10%;
}

#form__div {
    padding-left: 10%;
    padding-right: 10%;
}

label, button {
    display: block;
}

label {
    margin-top: 3%;
    font-weight: bold;
    padding: 8px 0px 8px 0px;
}

.form__input {
    width: 100%;
    padding: 4% 3% 4% 3%;
    border: 2px solid black;
    max-width: -webkit-fill-available;
}

#cadastro__div {
    text-align: center;
    padding: 5%;
}

#form__confirmar {
    margin-bottom: 5%;
}

#cadastro__div__link {
    color: #FF7223;
}