/* Importando CSS GLOBAL */
@import url(/styles/globalStyle.css);

/* CSS da Página */
/* h1 {
    margin-top: 4%;
    text-align: center;
}

p {
    margin-top: 4%;
    text-align: left;
    margin-left: 3%;
}

form {
    margin-top: 10%;
}

#divForm {
    padding-left: 8%;
    padding-right: 8%;
}

label, button {
    display: block;
}

label {
    margin-top: 3%;
    font-weight: bold;
    padding: 8px 0px 8px 0px;
}

.inputTexto {
    width: 100%;
    padding: 4% 3% 4% 3%;
    border: 2px solid black;
}

#divFormButton {
    margin-top: 8%;
    padding: 3.5%;
    text-align: center;
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding-top: 4.8%;
    padding-bottom: 4.8%;
    margin-bottom: 10%;
}

#linkCadastro {
    color: #FF7223;
} */